body {
    font-family: "lucida grande","gill sans","helvetica neue";
    font-size: 10px;
    margin : 0 0 0 0;
    color: ##F3F6FA;/*#3A3434;*/
}

#topbar{
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  height: 50px;
  font-size: 11px;
  background: #ffffff;
  color: #8D8081;
  box-shadow:1px 1px 5px 0.5px #E6E8EC;
}

.appversion{
    float: right;
    text-align: right;
    font-size: 9px;
    width: 5%;
    margin: 20px 40px 0 0;
    /*background-color: green;*/
}

#subtopbar{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 90px;
  margin-top: 50px;
  background-color: #ffffff;
}

#pagecontent{
    position: absolute;
    width: 100%;
    margin-top: 130px;
    z-index: 0;
    /*background-color: yellow; */   
}

#table{
    position: relative;
/*    width: 76%;
*/    margin: 10px auto 0 auto;
    /*background-color: orange;*/
}

#tablecontainer{
  margin: 0 auto 0 auto;
}

#table1{
    position: relative;
    width: 60%;
    margin: 10px auto 0 auto;
    /*background-color: orange;*/
}

a:link {
	color: #77777D;
    text-decoration :none;
}

/* visited link */
a:visited {
	color: #77777D;
    text-decoration :none;
}

/* mouse over link */
a:hover {
	color: #000000;
  text-decoration :none;
    /*background-color: #FFFF99;*/
}

/* selected link */
a:active {
	color: #77777D;
    text-decoration :none;
}

.topbarlink {
  display: block;
  /*width: 130px;*/
}

ul {
    position: absolute;
    list-style: none;
    margin: 18px 0 0 -5px;
    /*overflow: hidden;*/
}

li {
  display: inline;
  float: left;
  padding-left: 25px;
  /*background-color: yellow;*/
}

/*#########################*/
/*FOR MEMBER ACTIVITY*/
/*#########################*/

#namelisting{
  position: fixed;
  z-index: 2;
  /*margin-bottom: 50px;*/
  width: 325px;
  height: 50px;
  background-color: #ffffff;
  box-shadow:1px 1px 5px 0.5px #E6E8EC;
}

#memberactivitypagecontent{
  position: absolute;
  margin-top: 50px;
  /*background-color: green;*/
}

ul.namelistingul {
    position: absolute;
    list-style: none;
    margin: 8px 0 0 -18px;
/*    overflow: hidden;*/
}

li.namelistingli {
  display: inline;
  float: left;
  line-height: 17px;
  padding-left: 10px;
  /*background-color: yellow;*/
}

#memberactivity {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 305px;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-top: 1px dashed #CACACA;
  /*background-color: orange;*/
}

img.avatar {
  position: relative;
  z-index: 2;
  margin: 0 auto 0 auto;
  height: 35px;
  width:35px;
  border-radius: 25px;
  border: 2px solid #CACACA;
}

img.giticon {
  height: 15px;
  width:15px;
  margin-right: 10px;
/*  background-color: orange;
*/}

#fullusername {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 30px;
  line-height: 30px;
  top:11px;
  left: 12px;
  font-size: 12px;
  font-weight: bold;
/*  background-color: pink;
*/}

#username {
  position: absolute;
  width: 130px;
  height: 30px;
  top:11px;
  left: 183px;
  line-height: 30px;
  font-size: 9px;
  font-weight: bold;
/*  background-color: gold;
*/}

#cardbox {
  position: relative;
  z-index: 1;
  width: 300px;
  height: auto;
  margin-top: -8px;
  margin-bottom: 13px;
  border-radius: 4px;
  border: 1px solid #CACACA;
  /*background-color: red;*/
  box-shadow:1px 1px 0px 0px #E6E8EC;
}

#lastactivity {
  position: absolute;
  width: 85px;
  height: 23px;
  line-height: 23px;
  top: 0px;
  text-align: center;
  color: #999;
  /*background-color: orange;*/
}

#cardstatus {
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  height: 23px;
  line-height: 23px;
  text-align: center;
/*  background-color: #A9F5BC;
*/  border-radius: 4px;
}

#cardtitle {
  position: relative;
  margin-top: 25px;
  margin-bottom: 9px;
  width: 295px;
  height: auto;
  color: #ec5f3e;
  font-weight: bold;
  vertical-align: middle;
  padding: 3px 3px 0 3px;
  /*background-color: blue;*/
}

#githublink {
  position: relative;
  text-align: center;
  width: 50%;
  height: 15px;
  margin-bottom: 7px;
  line-height: 15px;
  border-radius: 6px;
  /*background-color: yellow;*/
}

#githublastpr {
  position: relative;
  text-align: center;
  margin: -20px 0 7px 50%;
  width: 50%;
  height: 15px;
  line-height: 15px;
  border-radius: 6px;
  /*background-color: green;*/
}

#othermemberoncard {
  position: relative;
  text-align: left;
  margin-top: -5px;
  width: 295px;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  /*background-color: purple;*/
}

#firstform {
  margin: 10px auto 0 auto;
  height: auto;
  width: 110px;
}

#secondform {
  margin: 10px auto 0 auto;
  height: auto;
  width: 500px;
}

.validatebutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:13px;
  margin-top: 10px;
  padding:11px 29px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.validatebutton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.validatebutton:active {
  position:relative;
  top:1px;
}
