body {
    font-family: "lucida grande","gill sans","helvetica neue";
    font-size: 10px;
    margin : 0 0 0 0;
    color: ##F3F6FA;/*#3A3434;*/
}

#cardbox {
	position: relative;
	width: 300px;
	height: auto;
/*	background-color: red;
*/}

#cardtitle {
	position: relative;
	width: 220px;
	height: 40px;
	vertical-align: middle;
	padding: 3px 0 0 3px;
/*	background-color: blue;
*/}

#cardstatus {
	position: absolute;
	top: 0;
	right: 0;
	width: 78px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: green;
	border-radius: 4px;
}

#lastactivity {
	position: relative;
	width: 100%;
	text-align: center;
/*	background-color: orange;
*/}

#githublink {
	position: relative;
	width: 50%;
	height: 20px;
	line-height: 20px;
/*	background-color: yellow;
*/}

#githublastpr {
	position: absolute;
	top: 55px;
	right: 0;
	width: 50%;
	height: 20px;
	line-height: 20px;
/*	background-color: grey;
*/}

#othermembers {
	position: relative;
	width: 100%;
	height: 25px;
	line-height: 25px;
/*	background-color: purple;
*/}
